<h1>This is my Personal Website</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<table colspan="2" align="right" border="4" bordercolor="#000000" cellspacing="50" width="700" height="150" style="text-align:center;">
  <tr>
    <th style="text-align:center;"> Hobbies </th>
    <th style="text-align:center;"> Interests </th>
  </tr>
  <tr>
    <td> Videogames </td>
    <td> History and Politics </td>
  </tr>
  <tr>
    <td> Reading to Stephen King </td>
    <td> Learning about the stock market </td>
  </tr>
</table>
